<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Travel a week in Thailand, you will have an opportunity to roam around Ayutthaya and bargain in Thai style floating market, as well as the white sandy beaches in Phuket. " />
        <meta name="keywords" content="Thailand Tour, Bangkok Tour, Phuket Tour," />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%- title %></title>
        <link rel="canonical" href="https://www.gofindorient.com/thailand-tours/bangkok-phuket-escape.html">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    </head>
    <style>
        .card {
            border: 1px solid var(--primary-dark-color) !important
        }

        .flex {
            display: flex;
            width: 95%;
        }

        .day-index {
            display: block;
            width: 75px;
            color: #fff;
            background-color: var(--primary-dark-color);
            padding: 0 10px;
            border-radius: 12px;
            /*margin-top: 10px;*/
            font-weight: bold;
        }

        .day-content {
            padding: 0 20px
        }

        .day-content-destination {
            font-weight: bold;
        }

        @media (min-width: 320px) {
            .welcome-text-mobile {
                display: block
            }

            .welcome-text-mobile h1 {
                font-size: 24px;
            }

            .hidden-xs {
                display: none
            }

            .quotation-navbar {
                top: 110px
            }
        }

        @media (min-width: 640px) {
            .welcome-text-mobile {
                display: none
            }

            .hidden-xs {
                display: block
            }

            .quotation-navbar {
                top: 55px
            }

            .day-content {
                display: flex;
                gap: 20px;
            }
        }
    </style>
    <body>
        <header class="header header-style-1 fga_nav-should-fixed clearfix">
            <div class="top-bar bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="/">
                                <img id="logo" src="/images/logo.png" alt="logo" width="120" height="138">
                            </a>
                        </div>
                        <div id="gfa__top-info" class="col-md-7">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="hide-until-md bg-img-top-tour hero-area pt-0 ">
            <%- bannerImg %>
            <div class="hero-inner hidden-xs">
                <div class="welcome-text">
                    <h1><%- h1 %></h1>
                    <h4><span class="badge badge-light mt-4">Your Reference No.<%- title %></span></h4>
                </div>
            </div>
        </section>
        <div class="page-wrapper">
            <section class="pt-3">
                <div class="container">
                    <div class="welcome-text-mobile">
                        <h1><%- h1 %></h1>
                        <h4 class="badge badge-light" style="font-size:16px;padding: .25em 0em .25em .4em;color: #fff;background-color: var(--primary-gray-color)">
                            Your Reference No.
                            <span style="border-radius: .25rem;padding: 0em .4em;color: #fff;background-color: var(--primary-dark-color)"><%- h1 %></span>
                        </h4>
                    </div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="bg-white mb-4 card">
                                    <div class="p-2">
                                        <h5 class="mb-2"> Plan Overview</h5>
                                        <%- detailUl %>
                                    </div>
                                    <div class="tip-box">
                                        Take your time to explore our proposal by clicking on the tabs. If you have any
                                        questions, suggestions, or want to make any changes, please don't hesitate to reach
                                        out. We're happy to answer your questions and provide any additional information you
                                        need.
                                    </div>
                                </div>
                                <div class="quotation-navbar mb-4">
                                    <ul>
                                        <li> <a id="ItineraryButton" class="active" href="javascript:onQuotationNavbarClick('Itinerary');">Itinerary</a></li>
                                        <li> <a id="AccommandationButton" href="javascript:onQuotationNavbarClick('Accommandation');">Overnight</a>
                                        </li>
                                        <li> <a id="PriceButton" href="javascript:onQuotationNavbarClick('Price');">Price</a></li>
                                        <li> <a id="NotesButton" href="javascript:onQuotationNavbarClick('Notes');">Notes</a></li>
                                    </ul>
                                </div>
                                <div id="Itinerary" class="accordion-header d-flex mb-2">
                                    <div class="flex-fill h4">
                                        <span class="fa fa-circle text-color-primary "></span>
                                        <span class="">ITINERARY</span>
                                    </div>
                                    <div class="flex-fill text-right fs-5">
                                        <a class="mr-4" href="javascript:onOpenAllAccordion();">
                                            <i class="fa fa-plus-circle"></i>
                                            <span>Expand All</span>
                                        </a>
                                        <a href="javascript:onCloseAllAccordion();">
                                            <i class="fa fa-minus-circle"></i>
                                            <span>Hide All</span>
                                        </a>
                                    </div>
                                </div>
                                <%- accordion %>
                                <div class="h4 mb-2">
                                    <span class="fa fa-circle text-color-primary "></span>
                                    <span class="">Overnight</span>
                                </div>
                                <div id="overNight">
                                    <%- overNight %>
                                </div>
                                <div id="Price" class="h4 mb-2">
                                    <span class="fa fa-circle text-color-primary "></span>
                                    <span class="">Price & Payment</span>
                                </div>
                                <%- pricePayment %>
                                <div class="card mb-4">
                                    <div class="card-header text-color-primary p-2">
                                        Payment
                                    </div>
                                    <%- payment %>
                                </div>
                                <div id="Notes" class="h4 mb-2">
                                    <span class="fa fa-circle text-color-primary "></span>
                                    <span class="">SERVICE</span>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header text-color-primary p-2">
                                        Price Includes:
                                    </div>
                                    <%- priceIncludes %>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header text-color-primary p-2">
                                        Price Excludes:
                                    </div>
                                    <%- priceExcludes %>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header text-color-primary p-2">
                                        Cancellation Policy:
                                    </div>
                                    <p style="margin-left:10px">The cancellation fee will be determined based on the date we receive your written
                                        cancellation notice, following the Cancellation Policy outlined below:
                                    </p>
                                    <%- cancellationPolicy %>
                                    <p style="margin-left:10px">Note:</p>
                                    <div class="p-2" style="margin-left:20px">
                                        <ol>
                                            <li>If applicable, additional cancellation fees imposed by third-party service
                                                providers (including, but not limited to, banks, payment platforms, airlines,
                                                cruises, hotels, and railway companies) will be deducted from the refundable
                                                amount.</li>
                                            <li>Changing the traveler(s) is considered a cancellation and is subject to the
                                                policy outlined above.</li>
                                            <li>Once the tour has started, we cannot refund any amount for unused services
                                                (including, but not limited to, hotels, air or train tickets, meals, and
                                                admission fees) due to early departure, late arrival, or missed days on the
                                                tour.</li>
                                            <li>Special terms may apply in promotions.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <%- sideBar %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script defer src="/js/bootstrap.min.js"></script>
        <script defer src="/js/jquery.sticky-kit.min.js"></script>
        <script defer src="/js/flatpickr.js"></script>
        <script src="/js/swiper-bundle.min.js"></script>
        <script defer src="/js/owl.carousel.min.js"></script>
        <script defer src="/js/image-loader-min.js"></script>
        <script defer src="/js/utils.js"></script>
        <script defer src="/js/tour-calendar.js"></script>
        <script defer src="/js/script.js"></script>
        <script src="https://www.paypal.com/sdk/js?client-id=AZLS50-ojGxdG2VFpzy4S7HhCrb-rvlHz4AqfsHcySMGgi64v-lpxeHidCKlh6SGfvJNXkv93Pfdtuy1&currency=USD&locale=en_US&commit=false"></script>
        <%- paypalScript %>
    </body>
</html>